.DS_Store
.svn
.sconsign.dblite
Neptune.xccheckout
Build/Targets/universal-apple-macosx/build
xcuserdata
*.pyc
Carthage
Scripts/apple_wwdr.cer
Build/Targets/arm-android-linux/Debug
Build/Targets/arm-android-linux/Release
Build/Targets/x86-unknown-linux/Debug
Build/Targets/arm-unknown-linux/Debug
