.DS_Store
.svn
.sconsign.dblite
Neptune.xccheckout
Build/Targets/universal-apple-macosx/build
xcuserdata
*.pyc
Carthage
Scripts/apple_wwdr.cer
Build/Targets/arm-android-linux/Debug
Build/Targets/arm-android-linux/Release
Build/Targets/x86-unknown-linux/Debug
Build/Targets/arm-unknown-linux/Debug
Build/Targets/universal-apple-macosx/Neptune.xcodeproj/xcuserdata
Build/Targets/universal-apple-macosx/cov-int
Neptune.xcscmblueprint
Build/Targets/x86-microsoft-win32-vs2010/Neptune/Debug
